.ui.attached.menu {
    margin-bottom: 1em;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
}

.ui.sidebar {
    overflow: visible !important;
}

.ui.sidebar.inverted div, .ui.sidebar.inverted .header {
    color: white !important;
}

.ui.sidebar .side.button {
    position: absolute;
    visibility: visible !important;
    transform: translate(-100%, 0);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 0;
    top: 3em;
}

.ui.login.area {
    width: 512px;
    margin: 64px auto;
}

.ui.raised.login.area {
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
}

.ui.action.button {
    margin-top: -1em;
    padding-left: 1em;
    padding-right: 1em;
}

.red.sub.header {
    color: #db2828 !important;
}

@media screen and (max-width: 1199px) {
    .ui.container {
        margin: auto 2em !important;
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .ui.attached.menu {
        margin-bottom: 0;
        box-shadow: initial;
    }
    .ui.sidebar .users.button {
        transform: translate(-100%, -100%);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 0;
        font-size: 125%;
        top: 100vh;
    }
    .ui.container {
        margin: 0 !important;
    }
    .ui.segment {
        padding-top: 2em;
        padding-bottom: 2em;
        box-shadow: initial !important;
        border-radius: 0;
        border: 0;
        margin: -1px 0;
    }
    .ui.login.area {
        box-shadow: initial !important;
        margin: -2px 0;
        width: 100%;
    }
    .hidden.on.mobile {
        display: none !important;
    }
}
